<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="/css/home-styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a446d30822.js" crossorigin="anonymous"></script>


    <title>Document</title>
</head>

<body>  
 
    <header>

        <div class="logo">
            <div class="borde-logo"><img src="/public/images/Logo1.png">
            </div>
        </div>

        <div class="botones-header">

            <div>
                <ul>
                    <li class="tendencias"><a href="#">Tendencias</a></li>
                    <li class="descuentos"><a href="#">Descuentos</a></li>

                    <div class="forms">
                        <li class="cuenta"> <a href="/register">Crear cuenta </a></li>
                        <li class="login"> <a href="/login">Ingresar </a></li>
                    </div>
                    <li class="cart"><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </div>

        </div>

    </header>

        <div class="banner">
            <video  autoplay muted loop src="/public/images/Banner1.mp4"></video>
       
        </div>
    
        <div class="fotos">
        <div class="foto1">
            <a href="product"> <img src="/public//Color.jpeg" ><p class="t1">Color</p></a>
        </div>
        <div class="foto2"><img class="img" src="/public/images/Care.jpeg"><p class="t2">Care</p></div>
        <div class="foto3"><img class="img" src="/public/images/Styling.jpeg"><p class="t3">Styling</p></div>
        <div class="foto4"><img class="img" src="/public/images/Barber.jpg"><p class="t4">Barber Shop</p></div>
    </div>
    </div>

</body>



</body>

</html>

<footer>


    <div><i class="fa-solid fa-bars"></i></div>
    <li class="ayuda">Ayuda</li>
   <div class="logos">  

    <i class="fa-brands fa-youtube"></i>
    <i class="fa-brands fa-pinterest"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>

   </div>
    
</footer>