<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="/css/product-styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a446d30822.js" crossorigin="anonymous"></script>
    <title>Hairsy</title>
</head>
<body>
    <header>
       
        <div class="logo">
            <div class="borde-logo"><a href ="/"><img src="/public/images/Logo1.png"></a>
            </div>
        </div>

        <div class="botones-header">

            <div>
                <ul>
                    <li class="tendencias"><a href="#">Tendencias</a></li>
                    <li class="descuentos"><a href="#">Descuentos</a></li>

                    <div class="forms">
                        <li class="cuenta"> <a href="/register">Crear cuenta </a></li>
                        <li class="login"> <a href="/login">Ingresar </a></li>
                    </div>
                    <li class="cart"><a href="/cart"><i class="fa-solid fa-cart-shopping"></a></i></li>
                </ul>
            </div>

        </div>

    </header>
    <main class="main-product">
        <div class="producto"><img class="product-detail" src="/public/images/producto-1.jpg">
            <div class="descripcion"><h1>Crema Facial</h1>  
            <br>
            <p> La Crema Facial 5 en 1 brinda nutrición intensiva sin sensación grasosa. 
                Experimentá una crema que nutre tu piel sin dejar sensación grasosa. 
                La fórmula contiene hidronutrientes que se absorben inmediatamente en tu piel, 
                obteniendo una profunda nutrición sin sensación grasosa en tu piel. 
                Dale a tu piel el cuidado que necesita con la crema facial Brand. 
                Tu piel humectada por más tiempo.</p>
                <br>
                <h3>$200.00 (Imp. incluidos)</h3>
                <br>
            <button class="agregar-carrito-button">Agregar al carrito</button>
        </div>
        </div>
    </main>
    <footer>


       <div class="logos">  
    
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-pinterest"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-facebook"></i>
    
       </div>
        
    </footer>
</body>
</html>