* {
    box-sizing: border-box;
    width: 100%;
    margin: 0px ;
    padding: 2px;
    
}

body{
    font-family: roboto;
}
header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: transparent;
    backdrop-filter: blur(5px);
    z-index: 100;
    color: white;
}

.borde-logo {
    padding: 0px;
    }

.logo {
    display: flex;
    width: 15%;
    padding: 5px;
}


.nav li a {
    color: black;
    text-decoration:none;
    padding:5px;
    display:block;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
    padding: 0px;
}

.nav li:hover > ul {
    display:block;
}

ul {
    padding: 40px;
    display: flex;
    list-style: none;
    color: black;
}



.borde-logo {
    padding: 0px;
    }

.logo {
    
    display: flex;
    width: 15%;
    padding: 5px;
   

}

ul {
   padding: 40px;
    display: flex;
    list-style: none;
    color: black;
   
}


.t1 {
    font-family: 'Satisfy', cursive;
    color:black;
    position: absolute;
}

.logos {

    align-items: center;
    display: flex;
    padding: 20px;
}

main {
    
    margin-top: 250px;
    margin-bottom: 20px;
    padding: 20px 0 15px 0;
   
    opacity: 1;
}

footer {
    width: 100vw;
    margin-top: 50px;
}

.grilla-footer{
    display: flex;
    font-family: roboto;
    padding: 20px;
   text-align: center;
}

.titulo_footer{
    font-size: 15px;
}
p{
    font-size: 12px;
}

.marcaRegistrada {
    display: flex;
    flex-direction: row;
}

.social{
    color: black;
}

.product-detail{
    max-width: 40%;
    max-height: 70%;
    position: relative;
    border-radius: 20%;
    padding: 20px;
    margin: 100px;
}
.producto {
    display:flex
}

.subtotal {
    display:fixed
}

.descripcion{
    display:flex;
    flex-direction: column;
    color: black;
    margin-top: 120px;
    margin-right: 20px
}

.agregar-carrito-button{
    background-color: darksalmon;
    height: 30px;
    width: 200px;
    border-radius: 8%;
    font-weight: 100;
    text-align: center;
}

h3{
    text-align: center;
}
.campos{
    padding: 10px;
    text-align: baseline;
}

.payment-icons{
    display: flex;
    text-align: center;
    font-size: 2em;
}




