* {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding-top: 0.1px;
}

.titulo{
    color: white;
}

body{
    font-family: roboto;
    background: url(/public/images/products/fondoLogin.jpeg);
}

main {
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.login-box {
   /*background: #FFCB00;*/
   
    margin-top: 200px;
    border: 3px solid #FFCB00;
    display: flex;
    align-items: center;
    width: 320px;
    height: 350px;
    flex-direction: column;
    transform: translate( -50%,-50%);
    position: relative;
    top: 25%;
    left: 50%;
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 20px;
    background: transparent;
    backdrop-filter: blur(5px);

}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.pregunta {
    margin-left: 200px;
    width: 300px;
    margin-bottom: 20px;
    color: blanchedalmond;
    display: flex;
    position: relative;
    right: 80%;
}



.login-box input {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.login-box button {
    margin-bottom: 40px;
    border-radius: 5px;
    border: none;
    
}
.password {
    margin-bottom: 20px;

}




@media (max-width: 460px){
    /* Tablets */
    .fotos {
        flex-direction: column; 
     }
     .blanco {
        display: none;
    }
}


@media (min-width: 460px){
    /* Tablets */
    .fotos {
        flex-direction: column; 
     }
     .blanco {
        display: none;
    }
}
@media (min-width: 768px){
    /* Laptop */
   
    video {
        display: block;
    }
    .fotos {
        flex-direction: row; 
     }
    
    .blanco {
        display: none;
    }
 

}
