* {
    box-sizing: border-box;
    width: 100%;
    margin: 0px ;
    padding: 2px;
    
}

body{
    font-family: roboto;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: transparent;
    backdrop-filter: blur(5px);
    z-index: 100;
    color: white;
}


.nav li a {
    text-decoration:none;
    padding:5px;
    display:block;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
    padding: 0px;
}

.nav li:hover > ul {
    display:block;
}

a{
    text-decoration: none;
    color: black;
}

ul {
    padding: 40px;
    display: flex;
    list-style: none;
    color: white;
}

.social{
    color: black;
}

.borde-logo {
    padding: 0px;
    }

.logo {
    
    display: flex;
    width: 15%;
    padding: 5px;

}
footer {
    width: 100vw;
}

.grilla-footer{
    display: flex;
    font-family: roboto;
    padding: 20px;
   text-align: center;
}

.titulo_footer{
    font-size: 15px;
}

p{
    font-size: 12px;
}

.marcaRegistrada {
    display: flex;
    flex-direction: row;
}




main {
    background-size: cover;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.login-box {
    background: #FFCB00;
    margin-top: 200px;
    border: 1.5px solid black;
    display: flex;
    align-items: center;
    width: 320px;
    height: 350px;
    flex-direction: column;
    transform: translate( -50%,-50%);
    position: relative;
    top: 25%;
    left: 50%;
    box-sizing: border-box;
    padding: 30px 30px;
    border-radius: 20px;

}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
}

.pregunta {
    margin-left: 200px;
    width: 300px;
    margin-bottom: 20px;
    color: blanchedalmond;
    display: flex;
    position: relative;
    right: 80%;
}



.login-box input {
    width: 100%;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.login-box button {
    margin-bottom: 40px;
    border-radius: 5px;
    border: none;
    
}
.password {
    margin-bottom: 20px;

}

.logos {
    align-items: center;
    display: flex;
    padding: 20px;
   
}



@media (max-width: 460px){
    /* Tablets */
    .fotos {
        flex-direction: column; 
     }
   
}


@media (min-width: 460px){
    /* Tablets */
    .fotos {
        flex-direction: column; 
     }
   
}
@media (min-width: 768px){
    /* Laptop */
   
    video {
        display: block;
    }
    .fotos {
        flex-direction: row; 
     }
   
 

}
