* {
    box-sizing: border-box;
    width: 100%;
    margin: 0px ;
    padding: 2px;
    
}

body{
    font-family: roboto;
}

header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: transparent;
    backdrop-filter: blur(5px);
    z-index: 100;
    color: white;
}

.nav li a {
    text-decoration:none;
    padding:5px;
    display:block;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
    padding: 0px;
}

.nav li:hover > ul {
    display:block;
}

.borde-logo {
    padding: 0px;
    }

.logo {
    display: flex;
    width: 15%;
    padding: 5px;
   

}
ul {
    padding: 40px;
    display: flex;
    list-style: none;
    color: white;
}


a {
    text-decoration: none;
    color: black;
}



.logos {
    align-items: center;
    display: flex;
    padding: 20px;
}

.banner{
    background-color: #FFCB00;
    text-align: center;
    font-size: 14px;
    font-family: roboto;
}

body{
    background-color: ;
}

main{
    padding-top: 118px;
}

.main_product{
    display: flex;
    flex-direction: column;
}

.titulo{
    font-size: 20px;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    padding: 20px;
}

.descripcion{
    font-size: 20px;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: 300;
}

.cart_button{
    background-color: #FFCB00;
    height: 20px;
    border: 0px;
    text-align: center;
}

h4 {
    font-family: roboto;
    font-size: 20px;
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: 400;   
    padding: 80px;
}

footer {
    width: 100vw;
    background-color: white;
}

.social{
    color: black;
}

.grilla-footer{
    display: flex;
    font-family: roboto;
    padding: 20px;
    text-align: center;
}

.titulo_footer{
    font-size: 15px;
}
p{
    font-size: 12px;
}

.marcaRegistrada {
    display: flex;
    flex-direction: row;
}

.product-detail{
    max-width: 40%;
    max-height: 70%;
    position: relative;
    border-radius: 20%;
    padding: 20px;
    margin: 100px;
}
.producto {
    display:flex
}

.agregar-carrito-button{
    background-color: darksalmon;
    height: 30px;
    width: 200px;
    border-radius: 8%;
    font-weight: 100;
    text-align: center;
}

h3{
    text-align: center;
}


@media (max-width: 460px){
    /* Tablets */
    .fotos {
        flex-direction: column; 
     }
     .logo {
        height: 13vh;
        width: 18vh;
        margin-top: 22px;
    }
   
}


@media (min-width: 460px){
    /* Tablets */
    .fotos {
        flex-direction: column; 
     }
     .logo {
        height: 13vh;
        width: 18vh;
        margin-top: 20px;
    }
}
@media (min-width: 768px){
    /* Laptop */
   
    video {
        display: block;
    }
    .fotos {
        flex-direction: row; 
     }
   
 

}
