<%- include('partials/head') %> 
<link href="/css/cart-styles.css" rel="stylesheet">

</head>

<body>
    <%- include('partials/header') %> 
    
    <main class="main-cart">
        <section>
            <div class="product-img"><img src="/public/images/producto1.png">
                <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
            <h5>Datos para envío</h5>
        <div class="form_pago">
            <input type="text" placeholder="Dirección"></input>
            <input type="text" placeholder="Localidad"></input>
            <input type="text" placeholder="Codigo postal"></input>
            <button type="submit">Calcular envio</button>
            <h5>Rango horario para la entrega</h5>
         <div class="campos">  
            09 a 14 horas<input type="radio" name="horario" value="09 a 14">
            14 a 19 horas<input type="radio" name="horario" value="14 a 19">
        </div>
        </div>

            <h5>Pago</h5>
            <div class="payment-icons">
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-amex"></i>
            </div>
            <input type="text" placeholder="Nombre del titular"></input>
            <input type="text" placeholder="Numero de tarjeta"></input>
            <input type="text" placeholder="Vencimiento"></input>
            <input type="password" placeholder="Codigo de seguridad"></input>
            <button type="submit">Comprar</button>
        </section>
        
    </main>
   <%- include('partials/footer') %> 
</body>
</html>