<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="/css/cart-styles.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a446d30822.js" crossorigin="anonymous"></script>
    <title>Hairsy</title>
</head>
<body>
    <header>
        <div>
            <div class="header-menu">
                <ul class="nav">
                    <a href="/"><img src="/public/images/logo2.png"></a>  
                    <li class="menu"><a href="#"><i class="fas fa-thin fa-bars"></i></a></li>
                    <li class="wish-list"><a href="#"><i class="fas fa-thin fa-heart"></i></a></li>
                    <li class="user"><a href="#"><i class="fas fa-thin fa-user"></i></a>
                        <ul>
                            <li><a href="/login">Login</a></li>
						    <li><a href="/register">Registrarse</a></li>
                        </ul>
                    </li>
                    <li class="contact"><a href="#"><i class="fas fa-thin fa-headphones"></i></a></li>
                    <li class="cart"><a href="/cart"><i class="fa-solid fa-cart-shopping"></a></i></li>
                </ul>

            </div>
    </header>
    <main class="main-cart">
        <section>
            <div class="product-img"><img src="/public/images/producto1.png">
                <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
            <h5>Datos para envío</h5>
        <div class="form_pago">
            <input type="text" placeholder="Dirección"></input>
            <input type="text" placeholder="Localidad"></input>
            <input type="text" placeholder="Codigo postal"></input>
            <button type="submit">Calcular envio</button>
            <h5>Rango horario para la entrega</h5>
         <div class="campos">  
            09 a 14 horas<input type="radio" name="horario" value="09 a 14">
            14 a 19 horas<input type="radio" name="horario" value="14 a 19">
        </div>
        </div>

            <h5>Pago</h5>
            <div class="payment-icons">
            <i class="fa-brands fa-cc-visa"></i>
            <i class="fa-brands fa-cc-mastercard"></i>
            <i class="fa-brands fa-cc-amex"></i>
            </div>
            <input type="text" placeholder="Nombre del titular"></input>
            <input type="text" placeholder="Numero de tarjeta"></input>
            <input type="text" placeholder="Vencimiento"></input>
            <input type="password" placeholder="Codigo de seguridad"></input>
            <button type="submit">Comprar</button>
        </section>
        
    </main>
    <footer>
        <section class="grilla-footer">
            <div>
                <p class="titulo_footer">ACERCA DE NOSOTROS</p>
            </div>

            <div>
                <p class="titulo_footer">SERVICIO AL CLIENTE</p>
                <a href="https://autogestion.produccion.gob.ar/consumidores" class="social" target="blank"><p>Defensa del consumidor</p></a>
                <p>Como cancelar una compra</p>
            </div>
            <div>
                <p class="titulo_footer">FAQ</p>
                <p>Preguntas Frecuentes</p>
                <p>Politicas de Privacidad</p>
                <p>Términos y Condiciones</p>
        </section>



        <div class="logos">

            <a href="https://youtube.com/channel/UCdnyRINr0-43MwmgKVeOgag" class="social" target="blank"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://pin.it/6j4TzyC" class="social"><i class="fa-brands fa-pinterest" target="blank"></i></a>
            <a href="https://www.instagram.com/hairsy.lujoparatucabello/?igshid=YmMyMTA2M2Y%3D" class="social" target="blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/Hairsy-101656439312920" class="social" target="blank"><i class="fa-brands fa-facebook"></i></a>

        </div>
            <div class="marcaRegistrada"><p>Hairsy Inc <i class="fa-solid fa-copyright"> 2022</i></p></div>
        
    </footer>
</body>
</html>