<%- include('partials/head') %>

    <link href="/css/home-styles.css" rel="stylesheet">

    </head>

    <body>

        <%- include('partials/header') %>

            <main>


                <div id="background">
                    <video loop muted autoplay preload="auto">
                        <source src="/public/images/abstract1.mp4">
                    </video>
                </div>

                <div class="ofertas"><img src="/public/images/ofertas.png"></div>

                <div class="fotos">

                    <div class="foto1">
                        <a href="product"> <img src="/public/images/Color.png">
                            <p class="t1">Color</p>
                        </a>
                    </div>
                    <div class="foto2"><img class="img" src="/public/images/Care.png">
                        <p class="t2">Care</p>
                    </div>
                    <div class="foto3"><img class="img" src="/public/images/Styling.png">
                        <p class="t3">Styling</p>
                    </div>
                    <div class="foto4"><img class="img" src="/public/images/Barber.png">
                        <p class="t4">Barber Shop</p>
                    </div>
                </div>


            </main>

            <%- include('partials/footer') %>

    </body>

    </html>