<%- include('partials/head') %> 

    <link href="/css/register-styles.css" rel="stylesheet">

</head>

<body>

    <%- include('partials/header') %> 
   
    <main class="main">

        <div class="login-box">
            <div class="formulario">
                <form action="/" method="get">
                    <div class="nombre">

                        <input type="text" placeholder="Nombre y apellido" name="■ Nombre y apellido:"> </input>
                    </div>

                    <div class="usuario">
                        <input type="text" placeholder="Nombre de usuario" name="usuario"> </input>
                    </div>

                    <div class="calendario">
                        <h4> Fecha de nacimiento:</h4>
                        <input type="date" name="fecha de nacimiento"> </input>
                    </div>

                    <div class="domicilio">

                        <input type="text" placeholder="Domicilio"> </input>
                    </div>





                    <div class="password">
                        <input type="password" placeholder="Contraseña"> </input>
                    </div>

                    <div class="confirm">
                        <input type="password" placeholder="Confirmar contraseña"> </input>
                    </div>

                    <div class="botones">
                        <button class="enviar1" type="submit">Registrarme</button>
                        <button class="borrar" type="reset">Borrar</button>
                    </div>
   
    </main> 
    
    <%- include('partials/footer') %> 

</body>

</html>