<%- include('../partials/head') %>

        <link href="/css/product-styles.css" rel="stylesheet">
        <link href="/css/header.css" rel="stylesheet">

        </head>

        <body>

                <%- include('../partials/header') %>

                        <main>
                                <!-- Agregar ciclo para vista dinamica -->
                                <section class="main_product">
                                        <div class="principales">
                                                <div class="productos">
                                                        <h5 class="titulo">Lorem Ipsum</h5>
                                                        <a><img src="/public/images/product.png"></a>
                                                                <p class="descripcion">$3.500</p>
                                                                <button style="background-color:#ffcb00" ; type="button" class="btn btn-danger">Delete</button>
                                                        
                                                        
                                                </div>
                        
                                        </div>
                                </section>
                                       

                                </div>


                        </main>


        </body>

        </html>