<%- include('../partials/head') %>
    <link href="/css/cart-styles.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">

    <title>Hairsy</title>
    </head>

    <body>

        <%- include('../partials/header') %>
        <div class="contenedor1">   
        <h2 class="titulo">Edita tu producto</h2>
            <div class="create">
            <div class="Imagen">
                <div class="#">
                    <label for="file" class="form-label">Imagen:</label>
                    <input type="file" id="image" name="image" class="form-input">
                    <img  class="product-img" src="/public/images/products/Mascara Reparacion.png">
                </div>
            </div>    
                <form  action="/product/create" method="POST" enctype="multipart/form-data">
                   
                    <div class="row product-detail">
                    <div >
                        <label for="name" class="form-label">Nombre del producto:</label>
                        <input type="text" id="name" name="name" placeholder="Mascara Reparadora" class="form-input">
                    </div>
                    <div >
                        <label for="price" class="form-label">Precio del producto:</label>
                        <input type="text" id="price" name="price" placeholder="Precio"  class="form-input">
                    </div>
                    <div >
                        <label for="category" class="form-label">Categoría:</label>
                        <select name="category" id="category" class="form-input">
                            <option value=""></option>
                            <option value="in-sale">COLOR</option>
                            <option value="visited">CARE</option>
                            <option value="visited">STYLING</option>
                            <option value="visited">BARBER</option>
                        </select>
                    </div>
                    <div >
                        <label for="description" class="form-label">Descripción:</label>
                        <textarea name="description" id="description" class="form-input"></textarea>
                    </div>
                    <div>
                        <button type="submit" class="buy-now-button">Guardar producto</button>
                    </div>
                </div>
                
            </form>
        </div>  
    </div>
            <%- include('../partials/footer') %>

    </body>





    
      