<%- include('partials/head') %> 
    
<link href="/css/product-styles.css" rel="stylesheet">

</head>

<body>
    
    <%- include('partials/header') %> 

    <main>
        <p class="banner">ENVIOS GRATIS A PARTIR DE $1000!</p>
        <section class="main_product">
                    <h5 class="titulo">Lorem Ipsum</h5>
                    <img src="/public/images/product.png">
                    <p class="descripcion">$3.500</p>
                    <p class="descripcion">Impuestos incluidos</p>
                    <button class="cart_button">Agregar al carrito</button>
        
    </main>
    
    <%- include('partials/footer') %> 

</body>
</html>