<footer>
    <section class="grilla-footer">
        <div>
            <p class="titulo_footer">ACERCA DE NOSOTROS</p>
        </div>

        <div>
            <p class="titulo_footer">SERVICIO AL CLIENTE</p>
            <a href="https://autogestion.produccion.gob.ar/consumidores" class="social" target="blank"><p>Defensa del consumidor</p></a>
            <p>Como cancelar una compra</p>
        </div>
        <div>
            <p class="titulo_footer">FAQ</p>
            <p>Preguntas Frecuentes</p>
            <p>Politicas de Privacidad</p>
            <p>Términos y Condiciones</p>
    </section>



    <div class="logos">

        <a href="https://youtube.com/channel/UCdnyRINr0-43MwmgKVeOgag" class="social" target="blank"><i class="fa-brands fa-youtube"></i></a>
        <a href="https://pin.it/6j4TzyC" class="social" target="blank"><i class="fa-brands fa-pinterest"></i></a>
        <a href="https://www.instagram.com/hairsy.lujoparatucabello/?igshid=YmMyMTA2M2Y%3D" class="social" target="blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.facebook.com/Hairsy-101656439312920" class="social" target="blank"><i class="fa-brands fa-facebook"></i></a>

    </div>
        <div class="marcaRegistrada"><p>Hairsy Inc <i class="fa-solid fa-copyright"> 2022</i></p></div>
    
</footer>
