<%- include('../partials/head') %>

    <link href="/css/profile.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">

    </head>

    <body>

        <%- include('../partials/header') %>

            <main class="main">
                <div>Editar Perfil</div>

                <div class="profileBox">

                    <div class="leftBox">
                        <div>Imagen</div>
                        <div>Mensajes</div>
                    </div>
                    
                    <div class="rightBox">
                        <div class="edit">
                            <div>Nombre y Apellido</div>
                            <div>Nombre de Usuario</div>
                            <div>Avatar</div>
                            <div>Fecha de nacimiento</div>
                            <div>E-Mail</div>
                            <div>
                                <div>Nueva contraseña</div>
                                <div>Reescriba contraseña</div>
                            </div>
                        </div>

                        <div class="mensajes">

                            <div>Titulo</div>

                            <div class="mensajesBox">

                                <div></div>
                            

                            </div>
                        </div>    

                       

                        </div>

                        <div class="historial">
                                <div>Titulo</div>
                                <div>Compras</div>
                                <div>Ventas</div>

                            </div>
                        </div>

                    </div>

            </main>

            <%- include('../partials/footer') %>

    </body>

    </html>