<%- include('../partials/head') %> 

    <link href="/css/register-styles.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">

</head>

<body>

    <%- include('../partials/header') %> 

    <main class="main">

        <div class="login-box">
            <div class="formulario">
                <form action="/register" method="POST" enctype="multipart/form-data"><h4>Registrarse</h4>
                    <div class="nombre">

                        <input type="text" placeholder="Nombre y apellido" name="fullName"> </input>
                    </div>

                    <div class="usuario">
                        <input type="text" placeholder="Nombre de usuario" name="userName"> </input>
                    </div>
                    <div class="avatar">
                        <label for="image" class="form-label"><h4>Imagen de perfil:</h4></label>
                        <input type="file" name="avatar" id="image" class="form-input">
                    </div>
                    <div class="calendario">
                        <h4> Fecha de nacimiento:</h4>
                        <input type="date" name="birthDate"> </input>
                    </div>

                    <div class="mail">

                        <input type="mail" placeholder="E-mail" name="email"> </input>
                    </div>
                    <div class="password">
                        <input type="password" placeholder="Contraseña" name="password"> </input>
                    </div>

                    <div class="confirm">
                        <input type="password" placeholder="Confirmar contraseña"> </input>
                    </div>

                    <div class="botones">
                        <button class="enviar1" type="submit">Registrarme</button>
                        <button class="borrar" type="reset">Borrar</button>
                    </div>
                    </form>

    </main> 
    
    <%- include('../partials/footer') %> 

</body>

</html>